<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <header>
<div class="container text-center">
<div class="row align-items-start">
<div class="col-3">
<h1 class="marca"><a href="{{url_for('home')}}">
    <img src="/static/swaBb-logo.png" alt="marca" title="Marca do site" height="110" width="280">
</a></h1>
</div>
<!--
<div class="col-5">
<div class="form-marca">
<form action="" method="get">
<input type="text" name="pesquisa" id="pesquisa" placeholder="Titulo, Autor, ISBN...">
</form>
</div>
</div>
-->
<div class="col">
</div>
</div>
</div>
{% if session['user_id'] %}
<form action="{{url_for('meus_livros')}}" method="get">
<input type="submit" id="meusLivros-btn" value="Meus Livros">
</form>
<form action="{{url_for('minhas_ofertas')}}" method="get">
<input type="submit" id="minhasOfertas-btn" value="Minhas Ofertas">
</form>
<form action="{{url_for('logout')}}" method="post">
<input type="submit" id="login-btn" value="Logout">
</form>
{% else %}
<form action="{{url_for('login')}}" method="get">
<input type="submit" id="login-btn" value="Login">
</form>
{% endif %}
</header>

{% block erro %}
{% if erro %}
<div class="alert alert-danger mb-0 text-center" role="error" id="erroMsg" style="display: none;">
    <p>{{erro}}</p>
</div>
{% endif %}
{% endblock %}

<section class="ofertas">
    {% block ofertas %}
    {% endblock %}
</section>

<main>
    {% block main %}
    {% endblock %}
</main>

<section class="livros">
    {% block livros %}
    {% endblock %}
</section>

<footer>
    <h3>swaBb</h3>
</footer>

<script src="/static/js/layout.js"></script>
</body>
</html>