{% extends "layout.html" %}

{% block title %}
Meus Livros
{% endblock %}

{% block erro %}
{% endblock %}

{% block livros %}
{% if session['user_id'] %}
<div class="container-fluid py-5 text-center">
    <h5><button type="button" id="btn-addLivro" onclick="addLivro()">Adicione um Livro</button></h5>
    <div class="container" id="addLivro" style="display: none;">
        <form action="/add_livro" method="post" autocomplete="off">
            <div class="mb-3">
                <label for="isbn" class="form-label">ISBN</label>
                <input type="text" class="form-control" id="isbn" name="isbn" required>
            </div>
            <div class="mb-3">
                <label for="titulo" class="form-label">Titulo</label>
                <input type="text" class="form-control" id="titulo" name="titulo" required>
            </div>
            <div class="mb-3">
                <label for="autor" class="form-label">Autores</label>
                <input type="text" class="form-control" id="autor" name="autor" required>
            </div>
            <div class="mb-3">
                <label for="ano" class="form-label">Ano</label>
                <input type="date" class="form-control" id="ano" name="ano" required>
            </div>
            <input type="number" class="form-control" id="fcation" name="fcation" value="{{session['user_id']}}" hidden
                required>
            <button type="submit" class="btn btn-success" id="submitBtn">Adicionar Livro</button>
        </form>
    </div>
</div>
</div>
<div class="container" id="livrosTable">
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th class="text-start">ISBN</th>
                <th class="text-end">Título</th>
                <th class="text-end">Autor</th>
                <th class="text-end">Ano</th>
                <th class="text-end">Excluir</th>
            </tr>
        </thead>
        <tbody>
            {% for livro in livros %}
            <tr>
                <td class="text-start">
                    {{livro.isbn}}
                </td>
                <td class="text-start">
                    {{livro.titulo}}
                    <form action="/atualizar_livro" method="post" id="attTitulo{{livro.titulo}}">
                        <input type="text" id="livro{{livro.isbn}}" name="isbn" value="{{livro.isbn}}" hidden>
                        <input type="text" class="form-control" id="tituloInput{{livro.isbn}}" name="titulo"
                        value="{{livro.titulo}}" hidden>
                        <button class="btn btn-warning" type="button" id="atualizar{{livro.isbn}}"
                        onclick="mostraInput('{{livro.isbn}}')">Atualizar</button>
                        <button class="btn btn-primary" type="submit" id="salvar{{livro.isbn}}"
                        hidden>Salvar</button>
                    </form>
                </td>
                <td class="text-end">
                    {{livro.autor}}
                </td>
                <td class="text-end">
                    {{livro.ano}}
                </td>
                <td class="text-end">
                    <form action="/deletar_livro" method="post">
                        <input type="text" name="isbn" id="isbn{{livro.isbn}}" value="{{livro.isbn}}" hidden>
                        <button class="btn btn-danger" type="submit">Deletar</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
            
        </tbody>

    </table>
</div>
{% endif %}
<script>
    function addLivro() {
        $("#addLivro").toggle();
        $("html, body").animate({
            scrollTop: $(document).scrollTop() + 200
        }, "slow");
    }

    function mostraInput(isbn) {
        document.getElementById("tituloInput" + isbn).removeAttribute("hidden");
        document.getElementById("atualizar" + isbn).style.display = "none";
        document.getElementById("salvar" + isbn).removeAttribute("hidden");
    }
</script>
{% endblock %}